.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: white;

  .bracket {
    font-weight: 100;
  }

  .e {
    margin-top: 1rem;

    &.backwards {
      transform: rotateY(180deg);
      margin-right: -0.5rem;
    }
  }
}
