@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

html {
  $light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$violet-palette,
      ),
      density: (
        scale: -5,
      ),
    )
  );
  @include mat.all-component-themes($light-theme);
  p {
    color: mat.get-theme-color($light-theme, primary);
  }
}
