@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,400italic,700italic,300italic);

body::-webkit-scrollbar {
    width: 0.5vw;
	position: fixed;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

* {
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
	--main-accent-colour: #296fcc;
}

html {
	background: #dddddd;
	overflow-x:hidden;
}

.right-side-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	float: right;
	position: fixed;
	right: 0;
	top:50%;
	padding-top: 1vh;
	padding-bottom: 1vh;
	transform: translate(78%,-50%);
	background: rgba(0,0,0,0.6);
	border-radius: 15px 0 0 15px;
	overflow: hidden;
	transition: transform 0.4s;
}
.right-side-menu:hover {
	transform: translate(0,-50%);
}
.right-side-menu > a {
	color:#ffffff;
	text-decoration: none;
	width:100%;
	transition: all 0.4s;
}
.right-side-menu > a:hover {
	background: rgba(0,0,0,0.8);
}
.right-side-menu > a > div {
	margin-left: 1vw;
	margin-right: 1vw;
}

.dot {
	font-size: 16px;
	margin-right: 1vw;
	color: var(--main-accent-colour);
}

#front-wrapper {
	height:100vh;
	width:100vw;
	background: black;
}

#sketch-wrapper {
	height:100vh;
	width:100vw;
	z-index: 0;
    position: static;
    overflow: hidden;
	float: left;
	top:0;
	left:0;
}

#front-content {
	position:absolute;
	z-index: 1;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
	justify-content: center;
	flex-direction: column;
    overflow: hidden;
}

#front-content > * {
	background: rgba(0,0,0,0.8);
}

#program {
	color:#eeeeee;
    font-size:2em;
    font-weight: 100;
	font-style: italic;
	margin-top: 3vh;
}

.blueE {
	font-size: 1em;
	color: var(--main-accent-colour);
}

#front-menu-container {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#front-menu-container > a {
	text-decoration: none;
	color: #ffffff;
	border-bottom: 3px solid #ffffff;
	text-align: center;
	margin-left: 1vw;
	margin-right: 1vw;
	transition: all 0.4s;
	padding-left: 1vw;
	padding-right: 1vw;
}
#front-menu-container > a:hover {
	border-bottom: 3px solid var(--main-accent-colour);
}
#front-menu-item {
	line-height: 5vh;
	font-size: 1.5em;
	font-weight: 100;
}

header {
	height:6vh;
	width:100vw;
	background: #000000;
	position: -webkit-sticky;
	position: sticky;
	top:0;
	box-shadow: 0px 5px 10px #888888;
	display: flex;
	justify-content:flex-start;
	align-items: center;
}

#title {
	margin-left: 2vw;
	font-size:2em;
}

#logo {
  font-size:3em;
  display:inline-block;
  font-weight:normal;
  color:var(--main-accent-colour);
}

#logo > #brackets {
  font-size:1em;
  font-weight:100;
  color:#eeeeee;
}
#speciale {
  display: inline-block;
  font-size:1em;
  -webkit-transform: rotate(-180deg) scale(1,-1);
  -moz-transform: rotate(-180deg) scale(1,-1);
}

#name {
  color:#eeeeee;
  font-size:3em;
  font-weight: 200;
  margin-left: 2vw;
  margin-right: 2vw;
}

main {
	width:100vw;
}

#main-content-section {
	width:100%;
	padding-top: 7vh;
	padding-bottom: 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content-section-dark {
	background: #424242;
	color:#ffffff;
}
.content-section-social {
	background: #5c5c5c;
	color:#ffffff;
}
.content-section-light {
	background: #dddddd;
	color:#000000;
}

.circle-me {
	background: url('me.jpg');
	background-repeat: no-repeat;
    background-position: center;
	background-size: 80vw;
	width:80vw;
	height: 80vw;
	border-radius: 50%;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
	display: none;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#main-content-wrapper {
	width:100%;
	max-width: 1200px;
}

#project-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	transition: all 0.4s;
}

#project-card {
	width:500px;
	overflow: hidden;
	margin-top: 4vh;
	margin-left: 1vw;
	margin-right: 1vw;
	background: #eeeeee;
	border-radius: 8px;
	box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
	transition: all 0.4s;
	color:#000000;
}

#project-card-image {
	background: #c23434;
	width:100%;
	height: 200px;
	overflow: hidden;
}
#project-card-image > img {
	width:100%;
}

#project-card-title {
	font-size: 20px;
	font-weight: 300;
	color:#000000;
	margin-left: 2vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

#project-card-description {
	font-size: 16px;
	font-weight: 300;
	color:#000000;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.chip-container {
	width:100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom:1vh;
	margin-left: 1vw;
	margin-right: 1vw;
}

.chip {
	background: var(--main-accent-colour);
	color:#ffffff;
	font-size: 12px;
	border-radius: 3px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:0.5em;
	padding-right:0.5em;
	margin-right: 1em;
}

#project-card-url-container {
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #000000;
}
#project-card-url-container > a {
	color:#ffffff;
	text-decoration: none;
	width:100%;
	text-align: center;
}
#project-card-url-container > a > div {
	line-height: 40px;
	font-size: 20px;
	transition: all 0.4s;
}
#project-card-url-container > a > div:hover {
	color:var(--main-accent-colour);
}

.flex-middle-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}

#social-button {
	transition: all 0.5s;
	width:5vw;
	height: 5vw;
	background: #dddddd;
	border-radius: 8px;
	color: #000000;
	font-size: 4vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
	text-decoration: none;
}
#social-button:hover {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.6);
	color: var(--main-accent-colour);
}
#social-button:hover > svg{
	fill:var(--main-accent-colour);
}
#social-button > svg {
	width:80%;
	fill:#000000;
	transition: all 0.5s;
}

#main-content-header {
	font-size: 3em;
	margin-bottom: 3vh;
}

#main-content-flex-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.heading {
	font-size: 2.5em;
	font-style: italic;
	margin-bottom: 2vh;
}

#skills-bubble-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

#skill-bubble {
	transition: all 0.4s;
	width: 150px;
	height: 150px;
	border: 4px solid var(--main-accent-colour);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 20px;
	margin: 1vh 1vw;
}

#skill-bubble:hover {
	background: #bbbbbb;
	transform: rotate(20deg);
}

#skill-bubble > img {
	max-width: 90px;
	max-height: 70px;
	margin-bottom: 5px;
}

.about-me-wrapper {
	flex:3;
	text-align:left;
	font-size: 20px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.about-me-wrapper > .sub-heading {
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
.about-me-wrapper > .text {
	font-size: 20px;
	line-height: 30px;
}
.about-me-wrapper a {
	text-decoration: none;
	color: #ffffff;
	transition: all 0.1s;
	font-size: 1em;
}
.about-me-wrapper a:hover {
	text-decoration: none;
	color: var(--main-accent-colour);
}

.line-break {
	width:100%;
	height: 0;
	border-bottom: 5px solid var(--main-accent-colour);
	margin-top: 2vh;
	margin-bottom: 2vh;
	border-radius: 5px;
}

#resume-container {
	margin: auto;
	width:50vw;
	overflow: hidden;
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
	transition: all 0.4s;
	margin-top: 2vh;
}
#resume-container:hover {
	box-shadow: 0 0 30px 6px rgba(0,0,0,0.5);
	width:52vw;
}

footer {
	width:100vw;
	height: 12vh;
	padding-top: 4vh;
	padding-bottom: 4vh;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-around;
	background: #000000;
	color: #dddddd;
}
#copyright {
	text-align: center;
	font-size: 1.5em;
	font-weight: 100;
}


/*Styles for Dark version*/

.dark .phone-shape {border-color:#444;background-color:#333;}
.dark .camera, .dark .circle, .dark .speaker, .dark .circle-button {background-color:#222;}
.dark .buttons, .dark .button.last {background-color:#333;box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);}


/*Default Phone Color Styles - White*/

.phone-shape {width: 295px;height: 532px;border-radius: 40px;border: 2px solid #fff;margin:0 auto;padding: 60px 10px;background-color: #f3f3f3;position: relative;box-shadow: 0 0 25px 4px rgba(0,0,0,0.3);}
.phone-screen {height: 522px;width: 295px;background-color: #fff;box-shadow: 0 0 0 5px rgba(0,0,0,0.6) inset;overflow: hidden;position: relative;}
.top-details {position: absolute;left: 0;top: 17px;width: 100%;}
.camera, .circle, .speaker {border-radius: 100px;display: block;background-color: #e1e1e1;}
.camera {height: 7px;width: 7px;margin: auto;}
.circle {height: 9px;width: 9px;position: absolute;left: 95px;top: 16px;}
.speaker {height: 7px;width: 90px;margin: 10px auto 0;}
.buttons, .button.last {width: 3px;background: #eee;position: absolute;}
.buttons {}
.button.last {}
.circle-button {height: 40px;width: 40px;background: #e1e1e1;margin: 17px auto;border-radius: 100px;}
.button-one {height: 20px;left: -7px;top: 59px;border-radius: 4px 0 0 4px;}
.button-two {height: 40px;width: 3px;left: -7px;top: 110px;border-radius: 4px 0 0 4px;}
.button-three {height: 40px;width: 3px;left: -7px;top: 165px;border-radius: 4px 0 0 4px;}
.button-four {height: 40px;width: 3px;right: -7px;top: 110px;border-radius: 0 4px 4px 0;}


.ph-wr-c {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:var(--main-accent-colour);
}

.ph-wr-c > * {
	height: 100%;
}

@media only screen and (max-width: 900px) {
	.phone-wrapper {
		display: none;
	}
	.circle-me {
		display: block;
	}
	#main-content-wrapper {
		width:90%;
	}
}

@media only screen and (max-width: 500px) {
    * {
		font-size: 10px;
	}
	#logo {
		text-align: center;
		display: block;
	}
	.phone-wrapper {
		display: none;
	}
	.about-me-wrapper {
		text-align: left;
	}
	#skills-bubble-wrapper {
		justify-content: space-around;
	}
	#main-content-wrapper {
		width:90%;
	}
	#social-button {
		width:10vw;
		height: 10vw;
		font-size: 8vw;
	}
}
