replicaCount: 1

image:
  repository: registry.k8s.io/kube-state-metrics/kube-state-metrics
  tag: v2.10.1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  telemetryPort: 8081

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

# Enable RBAC for kube-state-metrics to read cluster state
rbac:
  create: true

# Service account settings
serviceAccount:
  create: true
  name: kube-state-metrics
