# Configuration for kube-prometheus-stack dependency
dashboardLabelKey: &monitoring_dashboard_label grafana_dashboard
dashboardLabelValue: &monitoring_dashboard_label_value '1'

kube-prometheus-stack:
  # K3s specific: Disable monitoring of control plane components that are not exposed or managed by k3s differently
  kubeControllerManager:
    enabled: false
  kubeScheduler:
    enabled: false
  etcd:
    enabled: false

  grafana:
    enabled: true
    adminUser: admin
    adminPassword: admin
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: 'nginx'
        nginx.ingress.kubernetes.io/ssl-redirect: 'true'
      ingressClassName: nginx
      hosts:
        - grafana.elliott.haus
      tls:
        - secretName: elliott-haus-wildcard-tls
          hosts:
            - grafana.elliott.haus
    persistence:
      enabled: true
      size: 5Gi
      type: pvc
      accessModes:
        - ReadWriteOnce
    resources: {}
    defaultDashboardsEnabled: true
    sidecar:
      dashboards:
        enabled: true
        label: *monitoring_dashboard_label
        labelValue: *monitoring_dashboard_label_value
        folder: /tmp/dashboards/Kubernetes
        provider:
          folder: Kubernetes
        searchNamespace: ALL

  prometheus:
    prometheusSpec:
      retention: 15d
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          memory: 1Gi
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ['ReadWriteOnce']
            resources:
              requests:
                storage: 10Gi
      scrapeInterval: 15s
      evaluationInterval: 15s
      # Allow selecting ServiceMonitors from all namespaces
      serviceMonitorSelectorNilUsesHelmValues: false
      serviceMonitorSelector: {}
      serviceMonitorNamespaceSelector: {}
      # Allow selecting PodMonitors from all namespaces
      podMonitorSelectorNilUsesHelmValues: false
      podMonitorSelector: {}
      podMonitorNamespaceSelector: {}
      # Allow selecting Rules from all namespaces
      ruleSelectorNilUsesHelmValues: false
      ruleSelector: {}
      ruleNamespaceSelector: {}

  alertmanager:
    enabled: false

  nodeExporter:
    enabled: true

  kubeStateMetrics:
    enabled: true

  ## Reduce footprint for personal cluster
  defaultRules:
    create: true
    rules:
      alertmanager: false
      etcd: false
      kubeScheduler: false
      kubeControllerManager: false
      windows: false

  ## Disable components you might not need
  prometheusOperator:
    admissionWebhooks:
      enabled: true
    resources: {}
