replicaCount: 1

image:
  repository: ethanelliottio/test-server
  tag: 80e8267
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000
  annotations:
    prometheus.io/scrape: 'true'
    prometheus.io/path: /metrics
    prometheus.io/port: '3000'

ingress:
  enabled: true
  hostname: 'test.elliott.haus'

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 250m
    memory: 128Mi
