<div class="nav">
  <a href="/">Home (Newest)</a>
  <a href="/products">All Products</a>
  <a href="/sale" class="nav-sale-link">Sale</a>
  <a href="/restocks">Restocks</a>
  <a href="/colors">Colors</a>
  <a href="/discontinued">Discontinued</a>
</div>
