<div class="nav">
  <a href="/">Home (Newest)</a>
  <a href="/products">All Products</a>
  <a href="/sale" style="color: #d9534f; font-weight: bold">Sale</a>
  <a href="/colors">Colors</a>
  <a href="/discontinued">Discontinued</a>
</div>
